img{
    width: 60px;
    height: 60px;
    border-radius: 40%;
}
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  .container{
    max-width: 1150px;
    /* margin-top: 40px; */
  }
  h2{
    font-family: 'Nunito';
    font-size: 30px;
    width: 21%;
    padding-left: 15px;
    border: 5px solid red;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}