<!-- first step creation header -->
<header >
    <mat-toolbar color="">
        <span  class="logo">
            <img src="../../../assets/logo/Chef.png" alt="chef">
            <span class="nameLogo">Tastery</span>
        </span>   
        <span class="spacer"></span>
            <a mat-button  routerLink="/home"><mat-icon>home</mat-icon></a>
            <a mat-button routerLink="/menu">Menu</a>
            <a mat-button routerLink="/aboutUs">About us</a>
            <a mat-button routerLink="/contact">Contact</a>
            <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </mat-toolbar>
</header>