<nav class="navbar justify-content-end" style="background-color:tomato;height: 64px;">
  <div class="mx-5" style="font-size: 20px;">
      <i class="bi bi-person-circle"></i>
  </div>
</nav>
<div class="conatiner">
    <div class="d-flex justify-content-center m-4">
        <h1>Users Settings</h1>
    </div>    
    <div class="m-5">
        <mat-form-field>
            <mat-label>Search User</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="user" #input>
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
           
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name Users </th>
              <td mat-cell *matCellDef="let element"><mat-icon>profil picture</mat-icon>  {{element.name}} </td>
            </ng-container>
       
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
          
            <ng-container matColumnDef="password">
              <th mat-header-cell *matHeaderCellDef> Password </th>
              <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="tabs"></tr>
            <tr mat-row *matRowDef="let row; columns: tabs;"></tr>
          
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Not exist "{{input.value}}"</td>
            </tr>
          </table>
    </div>
</div>
