<app-header></app-header>
<ng-container>
    <div class="card-product">
        <div class="container">
            <ul>
                <li *ngFor="let item of cartList" >
                    <div>
                        <img [src]="item.image">
                    </div>
                    <div>
                        <a >
                           {{item.name}}
                        </a>
                    </div>
                    <div>{{item.price}} TND</div>
                    <button class="btn btn-danger rounded-pill" (click)="removeCartItem(item.id)">
                        Remove
                    </button>
                
                </li>
            </ul>
        
            <div class="checkout">
                <div class="price">
                    <div class="total-price-dinar">{{totalPrice}}TND</div>
                    <div class="total-price-dollar">{{totalPrice | dollar}}</div>
                    <div class="total-price-euro">{{totalPrice | euro}}</div>
                </div>
            </div>
        
        </div>
    </div>
</ng-container>
