<app-header></app-header>
<section class="container">
    <div class="d-flex justify-content-center m-4">
        <h3>Find out more <strong>About Us</strong></h3>
    </div>
    <div class="grid-wrapper">
        <img  src="../../../assets/aboutTastery/tasteryNb1.jpg" alt="image1">
        <img  src="../../../assets/aboutTastery/tasteryNb2.jpg" alt="image2">
        <img  src="../../../assets/aboutTastery/tasteryNb5.jpg" alt="image3">
        <div class="description">
            <h2>Tastery</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minus dolore quo quas, cupiditate in sequi. Non corrupti nemo similique perspiciatis, totam odit nihil dicta, sint distinctio vero numquam aliquam?</p>
        </div>
        <img  src="../../../assets/aboutTastery/tasteryNb4.jpg" alt="image4">
    </div>
    
</section>
<app-footer></app-footer>


