<app-header></app-header>

<section class="about-section">
    <div class="section-header">
        <h3>Find out more <strong>About Us</strong></h3>
    </div>
    
    <div class="grid-container">
        <div class="grid-item">
            <img src="../../../assets/aboutTastery/tasteryNb1.jpg" alt="Tastery restaurant image 1" class="grid-image">
        </div>
        <div class="grid-item">
            <img src="../../../assets/aboutTastery/tasteryNb2.jpg" alt="Tastery restaurant image 2" class="grid-image">
        </div>
        <div class="grid-item">
            <img src="../../../assets/aboutTastery/tasteryNb5.jpg" alt="Tastery restaurant image 3" class="grid-image">
        </div>
        
        <div class="grid-item description-box">
            <div class="description-content">
                <h2>Tastery</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minus dolore quo quas, cupiditate in sequi. Non corrupti nemo similique perspiciatis, totam odit nihil dicta, sint distinctio vero numquam aliquam?</p>
            </div>
        </div>
        
        <div class="grid-item">
            <img src="../../../assets/aboutTastery/tasteryNb4.jpg" alt="Tastery restaurant image 4" class="grid-image">
        </div>
    </div>
</section>

<app-footer></app-footer>